li {
  padding: 5px;
  margin: 5px;
  background: rgb(252, 252, 80);
}

body{
  background-color: rgb(223, 68, 68);
}

h2{
  color: rgb(253, 253, 116);
}

h1{
  color: rgb(253, 253, 116);
}

ul {
  display: inline-block;
  list-style-type: none;
}

.create-burger{
  color: rgb(253, 253, 116);
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
